@import "tailwindcss";

/* Hide scrollbar for Webkit (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge */
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
  

  /* Custom Tailwind class to hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
